absl-py==2.1.0
accelerate==0.31.0
affine==2.4.0
aiohappyeyeballs
aiohttp
aiohttp-cors==0.8.1
aiosignal
ale-py==0.8.1
anndata==0.11.4
annotated-types
antlr4-python3-runtime
anyio
appdirs==1.4.4
array-api-compat==1.12.0
asciitree==0.3.3
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout
attrs
autograd
autograd-gamma
beautifulsoup4==4.13.4
black==25.1.0
blinker==1.8.2
blosc2==2.7.1
Bottleneck
braceexpand
Brotli
bz2file==0.98
cachetools==5.3.3
captum==0.7.0
cellvit==1.0.8
certifi
cffi==1.16.0
charset-normalizer
chex==0.1.86
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.0.0
cmake==3.30.3
colorama==0.4.6
colorful==0.5.6
colour==0.1.5
contourpy==1.2.1
cramjam==2.10.0
cupy
cycler==0.12.1
Cython==3.1.2
cytoolz
czifile==2019.7.2.1
dask
datasets
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
dicomweb-client==0.59.3
dill
distlib==0.3.9
distro
dlib
dm-tree==0.1.8
docker-pycreds==0.4.0
docopt
docstring_parser==0.16
dopamine-rl==3.2.1
ecos
einops==0.8.0
Encoder==1.1
et_xmlfile==2.0.0
etils==1.9.2
exceptiongroup
executing==2.0.1
ez_setup==0.9
fairscale==0.4.0
fasteners==0.19
fastrlock
filelock
fire==0.6.0
flash_attn
Flask==3.0.3
flatbuffers==24.3.25
flax==0.8.4
fonttools==4.53.0
formulaic
frozenlist
fsspec==2024.6.0
ftfy==6.2.3
funcsigs==1.0.2
future==1.0.0
fvcore
gast==0.4.0
gdown==5.2.0
gensim==4.3.2
geojson==3.2.0
gevent==24.2.1
gin-config==0.5.0
gitdb==4.0.11
GitPython==3.1.43
gmpy2
google-api-core==2.19.0
google-api-python-client==2.133.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.4.1
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.1
grad-cam==1.4.0
graphlib-backport
greenlet==3.0.3
grpcio==1.64.1
gunicorn==22.0.0
gym==0.26.2
gym-notices==0.0.8
h11
h2
h5py==3.11.0
hpack==4.0.0
httpcore
httplib2==0.22.0
httpx
huggingface-hub==0.23.3
hydra-core==1.3.2
hyperframe
idna
igraph==0.11.8
imagecodecs==2025.3.30
imageio==2.35.1
imbalanced-learn==0.14.0
imblearn==0.0
imgaug
immutabledict==4.2.0
importlib-metadata
importlib_resources==6.4.0
intel-openmp==2021.4.0
interface-meta
iopath==0.1.9
ipython==8.25.0
iterative-stratification==0.1.9
itsdangerous==2.2.0
jax==0.4.29
jaxlib==0.4.29
jedi==0.19.1
Jinja2
joblib==1.4.2
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
keras==2.13.1
kfac==0.2.0
kiwisolver==1.4.5
lazy_loader
legacy-api-wrap==1.4.1
leidenalg==0.10.2
libclang==18.1.1
lifelines
lightgbm==4.6.0
llvmlite
locket
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe
marshmallow==3.26.1
matplotlib==3.7.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mesh-tensorflow==0.1.21
mkl==2021.4.0
mkl-service==2.4.0
mkl_fft
mkl_random
ml-dtypes==0.4.0
monai==1.3.2
mpmath
msgpack==1.0.8
msgpack-numpy
multidict
multiprocess
mypy_extensions==1.1.0
namex==0.0.8
natsort==8.4.0
ndindex==1.8
nest-asyncio==1.6.0
networkx
ninja==1.11.1.1
nltk==3.8.1
numba
numcodecs==0.15.1
numexpr
numpy
oauth2client==4.1.3
oauthlib==3.2.2
ome-types==0.5.3
omegaconf
open-clip-torch==2.23.0
openai
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python==4.10.0.82
opencv-python-headless==4.7.0.72
openpyxl==3.1.5
openslide-python
opentile==0.13.4
opt-einsum==3.3.0
optax==0.2.2
optree==0.11.0
orbax-checkpoint==0.5.16
osqp
packaging
pandas==2.2.2
parso==0.8.4
partd
pathopatch==1.0.10
pathspec==0.12.1
patsy==1.0.1
pillow
pipdeptree==2.22.0
platformdirs
pooch
portalocker
prometheus_client==0.22.0
promise==2.3
prompt_toolkit==3.0.47
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
pure-eval==0.2.2
py-cpuinfo==9.0.0
py-spy==0.4.0
pyaml==25.1.0
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycocotools==2.0.10
pycparser==2.22
pydantic==1.10.22
pydantic-compat==0.1.2
pydantic_core
pydicom==2.4.4
pygame==2.5.2
Pygments==2.18.0
pynndescent==0.5.13
pyparsing==3.1.2
pypng==0.20220715.0
PySocks
python-dateutil==2.9.0.post0
python-snappy==0.7.3
PyTurboJPEG==1.7.7
pytz==2024.1
pyvips==3.0.0
pyvips-binary==8.16.1
PyWavelets
pywin32==305.1
PyYAML
pyzmq
qdldl
QtPy==2.4.1
rasterio==1.4.3
ray==2.46.0
referencing==0.36.2
regex==2024.5.15
requests
requests-oauthlib==2.0.0
responses
retrying==1.3.4
rich==13.7.1
rpds-py==0.25.1
rsa==4.9
safetensors==0.4.3
scanpy==1.11.1
scikit-image
scikit-learn
scikit-survival
scipy==1.16.1
seaborn
sentencepiece==0.2.0
sentry-sdk==2.14.0
session-info2==0.1.2
setproctitle==1.3.3
shap
shapely==2.0.6
simple_parsing==0.1.5
six
slicer
smart-open==7.0.4
smmap==5.0.1
sniffio
soupsieve==2.7
spams-bin==2.6.10
stack-data==0.6.3
statsmodels==0.14.4
sympy
tables==3.10.1
tabulate
tbb==2021.12.0
tensor2tensor==1.15.7
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-addons==0.22.0
tensorflow-datasets==4.9.6
tensorflow-estimator==2.13.0
tensorflow-gan==2.1.0
tensorflow-hub==0.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.15.0
tensorflow-probability==0.7.0
tensorpack
tensorstore==0.1.61
termcolor==2.4.0
texttable==1.7.0
tf-keras==2.15.0
tf-slim==1.1.0
threadpoolctl==3.5.0
tifffile==2024.8.30
tiffslide==2.5.0
timm==1.0.11
timm_ctp
tokenizers==0.19.1
toml==0.10.2
toolz==0.12.1
toposort==1.10
torchscale==0.3.0
tqdm==4.66.4
traitlets==5.14.3
transformers @ git+https://github.com/huggingface/transformers@eed9ed679878ada2f6d2eefccdbda368cabc88b1
trax==1.2.4
ttach==0.0.3
typeguard==2.13.3
typing_extensions
tzdata==2024.1
ujson==5.8.0
umap-learn==0.5.7
unicodedata2
universal_pathlib==0.2.6
uritemplate==4.1.1
urllib3==2.2.2
virtualenv==20.31.2
ViTables==3.0.3
wandb==0.17.9
wcwidth==0.2.13
webdataset
Werkzeug==3.0.3
win-inet-pton
wrapt==1.16.0
wsidicom==0.20.6
wsidicomizer==0.14.2
wsitools==0.1.5
xformers==0.0.27.post2
xgboost==3.0.4
xlrd==2.0.1
xsdata==24.3.1
xxhash
yacs==0.1.8
yarl
zarr==2.18.7
zipp==3.19.2
zope.event==5.0
zope.interface==6.4.post2
